
@import '@core/scss/angular/libs/form-wizard.component.scss';
//@import '@core/scss/angular/libs/select.component.scss';

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.ng-select.wkfTrue ::ng-deep  .ng-select-container{
  background-color: #abf7ab19!important;
  color: #3c3b3f !important;
  border-color: #77f077a2;
}

.ng-select.wkfFalse ::ng-deep  .ng-select-container{
  background-color: #f3857f0a!important;
  color: #3c3b3f !important;
  border-color: #f0564ea2;
}

.ng-select.wkfTrue ::ng-deep .ng-select-container .ng-value-container .ng-placeholder,
.ng-select.wkfFalse ::ng-deep .ng-select-container .ng-value-container .ng-placeholder{
  color: #3c3b3f;
}

.dark-layout .ng-select.wkfTrue ::ng-deep .ng-select-container div.ng-input input{
  color: #fff!important;
}

.container{
  max-width: none;
}

.playBtn{
  border: 1px solid #77f077a2;
  background-color: #abf7ab19!important;
}