<div class="content-wrapper container-xxl p-0" *blockUI="'section-block'">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>


        <!-- Invoice List -->
        <section class="invoice-list-wrapper">
            <div class="card">

                <div class="col-md-12" style="margin-top: 25px;">

                    <!-- Primer -->
                    <div class="row">


                        <div class="form-group col-md-12">
                            <label class="form-label" for="descripcion">Seleccionar Aplicación</label>
                            <ng-select [items]="lstAplicaciones" [(ngModel)]="Perfil.aplicacion"
                                [ngModelOptions]="{standalone: true}" bindLabel="name" (ngModelChange)="selRol($event)"
                                bindLabel="name" bindValue="id" placeholder="Seleccione Aplicación"></ng-select>
                        </div>

                        <div class="form-group col-md-5">
                            <label class="form-label" for="descripcion">Seleccionar Rol</label>
                            <ng-select [items]="dataRol" [(ngModel)]="rol" [ngModelOptions]="{standalone: true}"
                                bindLabel="name" (ngModelChange)="selRolDetalle($event)" bindLabel="name" bindValue="id"
                                placeholder="Seleccione Rol"></ng-select>
                        </div>

                        <div class="form-group col-md-3">
                            <label class="form-label" for="descripcion">Nombre del Perfil</label>
                            <input style="font-size:14px;" [(ngModel)]="Perfil.nombre" [ngModelOptions]="{standalone: true}"
                                type="text" placeholder="Ingrese Nombre del Perfil" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label class="form-label" for="origen">Descripcion del Perfil</label>
                            <input style="font-size:14px;" [(ngModel)]="Perfil.descripcion"
                                [ngModelOptions]="{standalone: true}" type="text"
                                placeholder="Breve descripcion del Perfil" class="form-control">
                        </div>
                    </div>
                    <br>

                </div>


                <div class="col-md-12">
                    <ngx-datatable [rows]="dataRolDetalles" [rowHeight]="58" class="bootstrap core-bootstrap"
                        [limit]="10" [columnMode]="ColumnMode.force" [selectionType]="SelectionType.checkbox"
                        [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true" [limit]="basicSelectedOption"
                        (select)="onSelect($event)">

                        <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false"
                            [draggable]="false" [resizeable]="false">
                            <ng-template ngx-datatable-header-template let-value="value"
                                let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [checked]="allRowsSelected"
                                        (change)="selectFn(!allRowsSelected)" id="headerChkbxRef" />
                                    <label class="custom-control-label" for="headerChkbxRef"></label>
                                </div>
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [checked]="isSelected"
                                        (change)="onCheckboxChangeFn($event)" id="rowChkbxRef{{ rowIndex }}" />
                                    <label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="MODULO" [width]="200">
                            <ng-template let-modulo="value" let-name="value" ngx-datatable-cell-template>
                                <div>
                                    <span class="font-weight-bold">{{ modulo }} </span>
                                </div>
                            </ng-template>

                        </ngx-datatable-column>
                        <ngx-datatable-column name="MENU" [width]="200">
                            <ng-template let-menu="value" let-name="value" ngx-datatable-cell-template>
                                <div>
                                    <span class="font-weight-bold">{{ menu }} </span>
                                </div>
                            </ng-template>

                        </ngx-datatable-column>
                        <ngx-datatable-column name="ACCION" [width]="100">
                            <ng-template let-accion="value" let-name="value" ngx-datatable-cell-template>
                                <div>
                                    <span class="font-weight-bold">{{ accion }} </span>
                                </div>
                            </ng-template>

                        </ngx-datatable-column>


                    </ngx-datatable>

                </div>



                <div class="col-md-12" align="right">
                    <br>
                    <button type="button" class="btn btn-success" (click)="guardarPeril()">
                        <i class="fa fa-save" aria-hidden="true"></i>&nbsp;Agregar
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-warning" (click)="Limpiar()">
                        <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Limpiar
                    </button>
                </div>
                <br><br>


            </div>
        </section>

    </div>
</div>