<br>
<form #rolPrivilegios="ngForm">

    <form>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="form-label" for="origen">Estado Origen</label>
                <ng-select #Module="ngModel" [(ngModel)]="estado" bindLabel="descripcion" name="origen" id="origen"
                    required placeholder="Seleccione" bindValue="id" (change)="lstEstatus()">
                    <ng-option *ngFor="let e of rowEstado; let i = index" value="{{ e.id }}">{{e.nomb |
                        uppercase}}</ng-option>
                </ng-select>
            </div>

            <div class="form-group col-md-2">
                <label class="form-label" for="nombre">Nombre</label>
                <input [(ngModel)]="wkfEstatus.nombre" value="{{wkfEstatus.nombre}}"
                    [ngModelOptions]="{standalone: true}" required type="text" name="nombre" id="nombre"
                    placeholder="Enter ..." class="form-control" />

            </div>
            <div class="form-group col-md-3">
                <label class="form-label" for="descripcion">Descripción</label>
                <input [(ngModel)]="wkfEstatus.descripcion" value="{{wkfEstatus.descripcion}}"
                    [ngModelOptions]="{standalone: true}" required type="text" name="descripcion" id="descripcion"
                    placeholder="Enter ..." class="form-control" />

            </div>
            <div class="col-md-2">
                <label class="form-label" for="orden">Orden</label>
                  <ng-select [(ngModel)]="orden" bindLabel="descripcion" name="orden" id="orden" required
                    placeholder="Seleccione" bindValue="id">
                    <ng-option *ngFor="let e of lstOrden" value="{{ e }}">{{e}}</ng-option>
                  </ng-select>
              
        
              </div>
              <div class="col-md-2" style="margin-top: 23px;">
                <button type="button" class="btn btn-primary" (click)="Guardar()"><i class="fa fa-arrow-down" aria-hidden="true"></i>  Agregar
                </button>
              </div>
        </div>


    </form>

    <div class="row">
        <div class="col-md-12">
            <ngx-datatable [rows]="rowEstatus" [rowHeight]="58" class="bootstrap core-bootstrap" [limit]="10"
                [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true">


                <ngx-datatable-column name="#" prop="id" [width]="100">
                    <ng-template let-basedatos="value" ngx-datatable-cell-template>
                        <div>
                            <span class="font-weight-bold">{{ basedatos.toUpperCase() }} </span>
                        </div>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="NOMBRE" prop="nomb" [width]="200">
                    <ng-template let-nomb="value" ngx-datatable-cell-template>
                        <div>
                            <span class="font-weight-bold">{{ nomb.toUpperCase() }} </span>
                        </div>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="DESCRIPCIÓN" prop="obse" [width]="700">
                    <ng-template let-obse="value" ngx-datatable-cell-template>
                        <div>
                            <span class="font-weight-bold">{{ obse.toUpperCase() }} </span>
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="ESTADO" prop="ide" [width]="200">
                    <ng-template let-ide="value" ngx-datatable-cell-template>
                        <div>
                            <span class="font-weight-bold">{{ ide.toUpperCase() }} </span>
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="ACCIÓN" [width]="100" [sortable]="false">
                    <ng-template ngx-datatable-cell-template let-row="row">
                        <div ngbDropdown container="body">
                            <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                                <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                            </button>
                            <div ngbDropdownMenu>
                                <a (click)="ModalEdit(ModalEditDevice,row)" ngbDropdownItem><span
                                        [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span> Editar</a>
                            </div>
                        </div>
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>

    </div>