@import '@core/scss/base/pages/app-ecommerce.scss';


.tarjeta {
    width: 300px;
    /* Cambiar el valor según el tamaño deseado */
    height: 300px;
    /* Cambiar el valor según el tamaño deseado */
    margin: 5px;
    /* Puedes ajustar este valor según el espacio deseado */
    padding: 1px 0;
    /* Puedes ajustar este valor según el espacio vertical deseado */
}


.efecto-img {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* Adjust based on your design */
    text-align: center;
    margin: 0 auto;
    /* Center the container horizontally */
}

.efecto-img img {
    max-width: 100%;
    /* Image will not exceed container width */
    height: auto;
    /* Maintains aspect ratio */
}


/* search-bar.component.css */
.ecommerce-searchbar {
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

/* Asegurar que el select, input y ng-select tengan el mismo estilo */
select.form-control,
input.form-control,
ng-select.form-control {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px; /* Asegurar que el texto tenga el mismo tamaño */
}

/* Ajustar el ícono de búsqueda */
.input-group-text {
  height: 40px;
  background-color: #fff;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos específicos para ng-select */
ng-select.form-control .ng-select-container {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

/* Asegurar que no haya superposición */
.col-sm-4, .col-sm-8 {
  padding-right: 5px;
  padding-left: 5px;
}