<div class="content-wrapper container-xxl p-0">
  <app-content-header [contentHeader]="contentHeader"></app-content-header>
  <div class="content-body">

    <section id="ecommerce-searchbar" class="ecommerce-searchbar">
      <div class="row mt-1">
        <div class="col-sm-3">
          <select class="form-control" [(ngModel)]="searchType" style="height: 40px;">
            <option value="conexiones">Buscar por Conexiones</option>
            <option value="api">Buscar por API</option>
          </select>
        </div>
        <div class="col-sm-9" *ngIf="searchType === 'conexiones'">
          <div class="input-group input-group-merge">
            <input type="text" class="form-control search-product" id="shop-search" placeholder="Buscar"
              [(ngModel)]="searchText" aria-label="Search..." aria-describedby="shop-search" style="height: 40px;" />
            <div class="input-group-append">
              <span class="input-group-text" style="height: 40px;"><i data-feather="search"
                  class="text-muted"></i></span>
            </div>
          </div>
        </div>
        <div class="col-sm-9" *ngIf="searchType === 'api'">
          <ng-select [items]="rowData" [(ngModel)]="selectCustomSelected" bindLabel="funcion" bindValue="id"
            [searchable]="true" placeholder="Seleccione API" [hideSelected]="false" (change)="LinkRuta($event)"
            style="height: 40px; border: 1px solid #ccc; border-radius: 4px;">
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <div style="margin: 10px 0" class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ item.funcion }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ item.descripcion }}</h6>
                  <p class="card-text">
                    {{ item.tipo }} --- {{ item.aplicacion }}
                  </p>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>
    </section>

    <br>

    <section id="wishlist" class="grid-view wishlist-items">
      <div
        *ngFor="let product of ListaAplicaciones | filter: searchText:'nombre' | slice: (page - 1) * pageSize : page * pageSize"
        class="card ecommerce-card tarjeta">
        <a [routerLink]="'/tools/applications/' + product.nombre">
          <div class="item-img text-center efecto-img">
            <img class="img-fluid" src="assets/images/logo/logo.png" alt="img-placeholder" />
          </div>
          <div class="card-body">
            <div class="item-wrapper">
              <div class="item-rating">
                <div class="badge"
                  [ngClass]="{'badge-success': product.status === '1', 'badge-danger': product.status === '0'}">
                  {{ product.status === '1' ? 'Activo' : 'Inactivo' }}
                </div>
              </div>
              <div class="item-cost">
                <h6 class="item-price">{{ product.nombre | uppercase }}</h6>
              </div>
            </div>
            <p class="card-text item-description">
              <strong>{{ product.basedatos }}</strong> - {{ product.fecha }}
            </p>
          </div>
        </a>
      </div>
    </section>

    <br><br>

    <section id="ecommerce-pagination">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <ngb-pagination [collectionSize]="(ListaAplicaciones | filter: searchText:'nombre').length" [(page)]="page"
              [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
              aria-label="Pagination">

              <!-- Primer página -->
              <ng-template ngbPaginationFirst>
                <span data-feather="chevrons-left" class="font-weight-bolder" style="width: 18px; height: 18px;"></span>
              </ng-template>

              <!-- Página anterior -->
              <ng-template ngbPaginationPrevious>
                <span data-feather="chevron-left" class="font-weight-bolder" style="width: 18px; height: 18px;"></span>
              </ng-template>

              <!-- Números de página (personalizado para quitar "current") -->
              <ng-template ngbPaginationNumber let-page>
                {{ page }}
              </ng-template>

              <!-- Página siguiente -->
              <ng-template ngbPaginationNext>
                <span data-feather="chevron-right" class="font-weight-bolder" style="width: 18px; height: 18px;"></span>
              </ng-template>

              <!-- Última página -->
              <ng-template ngbPaginationLast>
                <span data-feather="chevrons-right" class="font-weight-bolder"
                  style="width: 18px; height: 18px;"></span>
              </ng-template>
            </ngb-pagination>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>