@import '@core/scss/base/pages/app-ecommerce.scss';


.tarjeta {
    width: 300px;
    /* Cambiar el valor según el tamaño deseado */
    height: 300px;
    /* Cambiar el valor según el tamaño deseado */
    margin: 5px;
    /* Puedes ajustar este valor según el espacio deseado */
    padding: 1px 0;
    /* Puedes ajustar este valor según el espacio vertical deseado */
}


.efecto-img {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* Adjust based on your design */
    text-align: center;
    margin: 0 auto;
    /* Center the container horizontally */
}

.efecto-img img {
    max-width: 100%;
    /* Image will not exceed container width */
    height: auto;
    /* Maintains aspect ratio */
}