@import '@core/scss/base/pages/app-ecommerce.scss';
@import '@core/scss/angular/libs/noui-slider.component.scss';


@import '@core/scss/angular/libs/form-wizard.component.scss';
@import '@core/scss/angular/libs/select.component.scss';


// @import '~codemirror/lib/codemirror.css';
// @import '~codemirror/theme/idea.css';
// @import '~codemirror/addon/fold/foldgutter.css';
// @import '~codemirror/addon/lint/lint.css';

// .CodeMirror {
//   padding-left: calc(3.5rem + 5px);
//   width: 100%;
//   height: 300px;
//   background-color: #ffffff;
//   border-color: #272822;
//   color: #ffffff;
//   border-left: none !important;
//   border: 0.0625rem solid #c0c2c3;
//   border-radius: 0px 8px 9px 0px;
// }

.code-container {
  overflow: auto;
  white-space: pre-wrap;
  width: 100%;
  height: 100px;
  // margin: 0 auto;
  resize: both; /* Permite que el usuario ajuste el tamaño del contenedor */
  border: 1px solid #ccc; /* Agrega un borde para indicar que el contenedor es redimensionable */
  // padding: 5px; /* Agrega un poco de espacio alrededor del código SQL */
}

.input_container {
    border: 1px solid #e5e5e5;
    text-transform: capitalize;
  }
  
  input[type=file]::file-selector-button {
    background-color: #85c889;
    color: #000;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    padding: 10px 15px;
    margin-right: 20px;
    transition: .5s;
    text-transform: capitalize;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #eee;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    text-transform: capitalize;
  }