<div class="content-wrapper container-xxl p-0" *blockUI="'section-block'">
    <div class="content-body">
      <!-- content-header component -->
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
  
  
      <!-- Invoice List -->
      <section class="invoice-list-wrapper">
        <div class="card">
  
          <!-- Invoice List Header -->
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <div class="d-flex align-items-center">
                  <label class="d-flex align-items-center">Mostrar
                    <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </label>
                  <button type="button" style="height: 38px; margin-top: -4px;" (click)="ModalAdd(ModalAddFunction)" class="btn btn-icon btn-info" rippleEffect>
                    <span [data-feather]="'plus'"></span> Agregar</button>
                </div>
              </div>
            </div>
            <div class="
                        col-md-6 col-lg-4 col-12
                        d-flex
                        justify-content-start justify-content-md-end
                        align-items-center
                        offset-lg-2
                      ">
              <div class="row pr-1 pb-1 pb-md-0 align-items-center w-100">
                <div class="col-10 col-md-6 pr-0">
                  <label class="d-flex align-items-center mb-0 ml-1 ml-md-0"><input [(ngModel)]="searchValue"
                      name="searchValue" type="search" class="form-control" placeholder="Buscar..."
                      (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" /></label>
                </div>
                <div class="col-10 col-md-6 mt-2 ml-1 ml-md-0 mt-md-0">
                  <fieldset class="form-group mb-0">
                    <ng-select [items]="status" bindLabel="name" bindId="id" bindValue="id" placeholder="Seleccione Status"
                      (change)="filterStatus($event)"></ng-select>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
          <!--/ Invoice List Header -->
  
          <ngx-datatable [rows]="rowData" [rowHeight]="58" class="bootstrap core-bootstrap" [limit]="10"
            [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
            [limit]="basicSelectedOption">
  
            <!-- <ngx-datatable-column name="Funcion"  [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div>
                  <span class="font-weight-bold"> <strong>{{ row.fecha | date:"dd-MM-yyyy" }} <strong>|</strong> {{ row.nombre }} </strong></span>
                </div>
              </ng-template>
            </ngx-datatable-column> -->

            <ngx-datatable-column name="DRIVER" [width]="150">
              <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                <div class="d-flex align-items-center">
                  <div *ngIf="row.length > 0; else customAvatar">
                    <img class="rounded-circle mr-1" src="{{ row.avatar }}" height="32" width="32"
                      alt="datatable-avatar" />
                  </div>
                  <ng-template #customAvatar>
                    <div class="avatar mr-1 ml-0" [ngClass]="{
                        'bg-light-success': row.estatus == true,
                        'bg-light-danger': row.estatus == false
                      }">
                      <div class="avatar-content">{{ row.nombre.toUpperCase() | initials }}</div>
                    </div>
                  </ng-template>
                  <div class="cell-line-height">
                    <span class="font-weight-bold d-block"><strong>{{ row.nombre }}</strong></span>
                    <span class="text-muted font-small-2">
                      <!-- <div class="badge badge-glow badge-dark"> -->
                      <strong>V {{ row.version | uppercase }}</strong> 
                    <!-- </div> -->
                  </span>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Lenguaje"  [width]="50">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div>
                  <span class="font-weight-bold">
                    <div class="badge badge-glow" [ngClass]="{
                      'badge-success': row.lenguaje == 'PHP',
                      'badge-warning': row.lenguaje == 'PYTHON',
                      'badge-primary': row.lenguaje == 'RUST',
                      'badge-secondary': row.lenguaje == 'BASH',
                      'badge-info': row.lenguaje == 'SHELL',
                      'badge-primary': row.lenguaje == 'NJS',
                      'badge-danger': row.lenguaje == 'GO',
                      'badge-danger': row.lenguaje == 'C++',
                      'badge-warning': row.lenguaje == 'RDN'
                    }">
                    {{ row.lenguaje}}
                  </div>
                   </span>
                </div>
              </ng-template>
            </ngx-datatable-column>
  
  
  
            <ngx-datatable-column name="DESCRIPCIÓN" prop="descripcion" [width]="500">
              <ng-template let-descripcion="value" ngx-datatable-cell-template>
                <div>
                  <span class="font-weight-bold">{{ descripcion.slice(0,100) }} ... </span>
                </div>
              </ng-template>
            </ngx-datatable-column>
  
  
            <!-- <ngx-datatable-column name="Status" prop="estatus" [width]="40">
              <ng-template let-estatus="value" ngx-datatable-cell-template>
  
                <div class="badge badge-success" *ngIf="estatus === 1">Activo</div>
                <div class="badge badge-danger" *ngIf="estatus === 0">Inactivo</div>
              </ng-template>
            </ngx-datatable-column> -->
  
            <ngx-datatable-column name="ACCIÓN" [width]="5" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div ngbDropdown container="body">
                  <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                    <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                  </button>
                  <button (click)="ModalExePlay(ModalPlay,row)" type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                    <span [data-feather]="'play'" [class]="'cursor-pointer'"></span>
                  </button>
                  <div ngbDropdownMenu>
                    <a (click)="ModalEdit(ModalEditFunction,row)" ngbDropdownItem><span [data-feather]="'edit'" [size]="16"
                        [class]="'mr-50'"></span> Editar</a>
                        <a (click)="ModalConfig(ModalConfigFunction,row)" ngbDropdownItem *ngIf="row.tiempo!=''"><span [data-feather]="'settings'" [size]="16"
                          [class]="'mr-50'"></span> Configurar</a>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
  
          </ngx-datatable>
          <!--/ Invoice List Table -->
  
        </div>
      </section>
      <!--/ Invoice List -->
  
    </div>
  </div>
  
  
  
  
  
  
  <ng-template #ModalAddFunction let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Agregar Función</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="GuardarFuncion()">
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <!-- Invoice -->
        <div class="col-xl-12 col-md-12 col-12">
          <!-- Header Starts -->
  
  
          <div class="row">
  
            <div class="col-md-2 col-12 mb-1">
              <label for="login-id" class="form-label">Id del proceso</label>
              <input type="text" formControlName="id" [readonly]="true" class="form-control" placeholder="Id de proceso"
              aria-describedby="login-basedatos" tabindex="1" autofocus
              />
            </div>

            <div class="col-md-2 col-12 mb-1">
              <label for="login-tipo" class="form-label">Tipo</label>
              <ng-select [items]="tipo" formControlName="tipo" bindLabel="name"
                placeholder="Seleccione Tipo" bindValue="name">
              </ng-select>
            </div>
  
            <div class="col-md-4 col-12 mb-1">
              <label for="login-nombre" class="form-label">Nombre Función</label>
              <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrese Nombre"
                aria-describedby="login-nombre" tabindex="1" autofocus
                [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
              <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                <div *ngIf="f.nombre.errors.required">Nombre Funcion es requerido</div>
              </div>
            </div>

            <div class="col-md-2 col-12 mb-1">
              <label for="login-version" class="form-label">Version</label>
              <input type="text" formControlName="version" [readonly]="true" class="form-control" placeholder="Version"
              aria-describedby="login-basedatos" tabindex="1" autofocus
              />
            </div>

            <div class="col-md-2 col-12 mb-1">
              <label for="login-estatus" class="form-label">Estatus</label>
              <ng-select [items]="estatus" formControlName="estatus" 
                placeholder="Seleccione Estatus" [attr.disabled]="true" bindLabel="name" bindValue="id">
              </ng-select>
            </div>

            <div class="col-md-3 col-12 mb-1">
              <label for="login-lenguaje" class="form-label">Lenguaje</label>
              <ng-select [items]="lenguaje" formControlName="lenguaje" bindLabel="descripcion"
                placeholder="Seleccione Lenguaje" bindValue="name">
              </ng-select>
            </div>

            <div class="col-md-3 col-12 mb-1">
              <label for="login-categoria" class="form-label">Categoria</label>
              <ng-select [items]="categoria" formControlName="categoria"
              [(ngModel)]="btnCategoria" [ngModelOptions]="{standalone: true}"
              [ngModelChange]="SeleccionarPrograma()" formControlName="categoria" bindLabel="descripcion"
                placeholder="Seleccione Categoria" bindValue="name">
              </ng-select>
            </div>

            <div class="col-md-3 col-12 mb-1">
              <label for="login-valor-retorno" class="form-label">Valor Retorno</label>
              <ng-select [items]="retorno" formControlName="retorno" bindLabel="descripcion"
                placeholder="Seleccione Valor Retorno" bindValue="name">
              </ng-select>
            </div>

            <div class="col-md-3 col-12 mb-1">
              <label class="form-label" for="http">Aplicación</label>
              <ng-select [items]="ListaAplicaciones" [(ngModel)]="xAPI.prefijo" [ngModelOptions]="{standalone: true}"
                bindLabel="name" bindId="id" bindValue="name" bindLabel="name" bindValue="id"
                placeholder="Seleccione Aplicación"></ng-select>
            </div>

            <div class="col-md-3 col-12 mb-1" *ngIf="divTiempo">
              <label for="login-tiempo" class="form-label">Especificaci&oacute;n del tiempo</label>&nbsp;
              <div class="badge badge-warning" (click)="openHelp(ModalHelp)"><small>Ayuda?</small></div>
              <input type="text" formControlName="tiempo" class="form-control" placeholder="Ingrese Especificacion"
                aria-describedby="login-tiempo" tabindex="1" autofocus
               />
            </div>


  
  
            <div class="col-md-12 col-12 mb-1">
              <label for="login-descripcion" class="form-label">Descripción</label>
              <textarea type="text" formControlName="descripcion" rows="3" class="form-control" placeholder="Ingrese Descripción"
                aria-describedby="login-descripcion" tabindex="1" autofocus
                [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" ></textarea>
              <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                <div *ngIf="f.descripcion.errors.required">Descripción es requerido</div>
              </div>
            </div>

            <div class="col-md-12 col-12 mb-1">
              <label for="login-codigo" class="form-label">Escribir codigo fuente</label>
              <ngx-codemirror #codemirror aria-describedby="login-codigo" tabindex="1" autofocus
              [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }"
              formControlName="codigo"
              [options]="codeMirrorOptions"
              >
            </ngx-codemirror>
            <div *ngIf="submitted && f.codigo.errors" class="invalid-feedback">
              <div *ngIf="f.codigo.errors.required">Codigo es requerido</div>
            </div>
            </div>
  
  
          </div>
  
        </div>
  
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" tabindex="4" rippleEffect>Guardar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>Cerrar</button>
      </div>
    </form>
  </ng-template>

  <ng-template #ModalHelp let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Opciones del tiempo</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <!-- Invoice -->
        <div class="col-xl-12 col-md-12 col-12">
          <!-- Header Starts -->
          
          
    <!-- <code> -->
        Cron es un administrador regular de procesos en segundo plano.<br>
        Los procesos que deben ejecutarse y la hora a la que deben hacerlo se especifican en<br>
        la funcion. El nombre cron proviene del griego chronos que significa "tiempo".<br>
        .--------------- minuto (0-59)<br>
        |  .------------ hora (0-23)<br>
        |  |  .--------- día del mes (1-31)<br>
        |  |  |  .------ mes (1-12) o jan,feb,mar,apr,may,jun,jul...<br>
        |  |  |  |  .--- día de la semana (0-6) (domingo=0 o 7)<br>
        |  |  |  |  |<br>
        *  *  *  *  *  comando a ejecutar<br>
        */5 * * * *  se ejecuta cada 5 minutos.<br>
    <!-- </code> -->
  
        </div>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>Cerrar</button>
      </div>
  </ng-template>

  <ng-template #ModalConfigFunction let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Ejecución de funciones</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="auth-login-form mt-2" [formGroup]="loginForm">
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <!-- Invoice -->
      <div class="col-xl-12 col-md-12 col-12">
        <!-- Header Starts -->
        <div class="row">
          
            <div class="col-md-3 col-12 mb-1">
              <label for="login-id" class="form-label">Id del proceso</label>
              <input type="text" formControlName="id" [readonly]="true" class="form-control" placeholder="Id de proceso"
              aria-describedby="login-basedatos" tabindex="1" autofocus
              />
            </div>

            <div class="col-md-3 col-12 mb-1">
              <label for="login-tipo" class="form-label">Tipo</label>
              <ng-select [items]="tipo" [readonly]="true" formControlName="tipo" bindLabel="name"
                placeholder="Seleccione Tipo" bindValue="name">
              </ng-select>
            </div>
  
            <div class="col-md-3 col-12 mb-1">
              <label for="login-nombre" class="form-label">Nombre Función</label>
              <input type="text" formControlName="nombre" [readonly]="true" class="form-control" placeholder="Ingrese Nombre"
                aria-describedby="login-nombre" tabindex="1" autofocus
                 />
            </div>

            <div class="col-md-3 col-12 mb-1">
              <label for="login-version" class="form-label">Version</label>
              <input type="text" formControlName="version" [readonly]="true" [readonly]="true" class="form-control" placeholder="Version"
              aria-describedby="login-version" tabindex="1" autofocus
              />
            </div>


            <div class="col-md-4 col-12 mb-1">
              <label for="login-lenguaje" class="form-label">Lenguaje</label>
              <ng-select [items]="lenguaje" [readonly]="true" (ngModelChange)="cambiarModo()" formControlName="lenguaje" bindLabel="descripcion"
                placeholder="Seleccione Lenguaje" bindValue="name">
              </ng-select>
            </div>

            <div class="col-md-4 col-12 mb-1">
              <label for="login-categoria" class="form-label">Categoria</label>
              <ng-select [items]="categoria" [readonly]="true" formControlName="categoria"
              [(ngModel)]="btnCategoria" [ngModelOptions]="{standalone: true}"
               formControlName="categoria" bindLabel="descripcion"
                placeholder="Seleccione Categoria" bindValue="name">
              </ng-select>
            </div>

            <div class="col-md-4 col-12 mb-1">
              <label for="login-valor-retorno" class="form-label">Valor Retorno</label>
              <ng-select [items]="retorno" [readonly]="true" formControlName="retorno" bindLabel="descripcion"
                placeholder="Seleccione Valor Retorno" bindValue="name">
              </ng-select>
            </div>
  
  
            <div class="col-md-12 col-12 mb-1">
              <label for="login-descripcion" class="form-label">Descripción</label>
              <textarea type="text" formControlName="descripcion" [readonly]="true" rows="3" class="form-control" placeholder="Ingrese Descripción"
                aria-describedby="login-descripcion" tabindex="1" autofocus
                ></textarea>
            </div>


            <div class="col-md-6 col-12 mb-1">
              <label for="login-tiempo" class="form-label">Especificaci&oacute;n del tiempo</label>&nbsp;
              <input type="text" formControlName="tiempo" [readonly]="true" class="form-control" placeholder="Ingrese Especificacion"
                aria-describedby="login-tiempo" tabindex="1" autofocus
               />
            </div>

            <div class="col-md-6 col-12 mb-1">
              <label for="login-estatus" class="form-label">Estatus</label>
              <ng-select [items]="estatus" formControlName="estatus" 
                placeholder="Seleccione Estatus"  [attr.disabled]="true" bindLabel="name" bindValue="id">
              </ng-select>
            </div>

  
  
          </div>
  
        </div>
  
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" tabindex="4" rippleEffect>Procesar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>Cerrar</button>
      </div>
    </form>
  </ng-template>
  

  <ng-template #ModalEditFunction let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Editar Función</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="Editarfuncion()">
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <!-- Invoice -->
        <div class="col-xl-12 col-md-12 col-12">
          <!-- Header Starts -->
  
  
          <div class="row">
  
            <div class="col-md-2 col-12 mb-1">
              <label for="login-id" class="form-label">Id del proceso</label>
              <input type="text" formControlName="id" [readonly]="true" class="form-control" placeholder="Id de proceso"
              aria-describedby="login-basedatos" tabindex="1" autofocus
              />
            </div>

            <div class="col-md-2 col-12 mb-1">
              <label for="login-tipo" class="form-label">Tipo</label>
              <ng-select [items]="tipo" formControlName="tipo" bindLabel="name"
                placeholder="Seleccione Tipo" bindValue="name">
              </ng-select>
            </div>
  
            <div class="col-md-4 col-12 mb-1">
              <label for="login-nombre" class="form-label">Nombre Función</label>
              <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrese Nombre"
                aria-describedby="login-nombre" tabindex="1" autofocus
                 />
            </div>

            <div class="col-md-2 col-12 mb-1">
              <label for="login-version" class="form-label">Version</label>
              <input type="text" formControlName="version" [readonly]="true" class="form-control" placeholder="Version"
              aria-describedby="login-version" tabindex="1" autofocus
              />
            </div>

            <div class="col-md-2 col-12 mb-1">
              <label for="login-estatus" class="form-label">Estatus</label>
              <ng-select [items]="estatus" formControlName="estatus" 
                placeholder="Seleccione Estatus" [attr.disabled]="true" bindLabel="name" bindValue="id">
              </ng-select>
            </div>

            <div class="col-md-3 col-12 mb-1">
              <label for="login-lenguaje" class="form-label">Lenguaje</label>
              <ng-select [items]="lenguaje" (ngModelChange)="cambiarModo()" formControlName="lenguaje" bindLabel="descripcion"
                placeholder="Seleccione Lenguaje" bindValue="name">
              </ng-select>
            </div>

            <div class="col-md-3 col-12 mb-1">
              <label for="login-categoria" class="form-label">Categoria</label>
              <ng-select [items]="categoria" formControlName="categoria"
              [(ngModel)]="btnCategoria" [ngModelOptions]="{standalone: true}"
              [ngModelChange]="SeleccionarPrograma()" formControlName="categoria" bindLabel="descripcion"
                placeholder="Seleccione Categoria" bindValue="name">
              </ng-select>
            </div>

            <div class="col-md-3 col-12 mb-1">
              <label for="login-valor-retorno" class="form-label">Valor Retorno</label>
              <ng-select [items]="retorno" formControlName="retorno" bindLabel="descripcion"
                placeholder="Seleccione Valor Retorno" bindValue="name">
              </ng-select>
            </div>

            <div class="col-md-3 col-12 mb-1" *ngIf="divTiempo">
              <label for="login-tiempo" class="form-label">Especificaci&oacute;n del tiempo</label>&nbsp;
              <div class="badge badge-warning" (click)="openHelp(ModalHelp)"><small>Ayuda?</small></div>
              <input type="text" formControlName="tiempo" class="form-control" placeholder="Ingrese Especificacion"
                aria-describedby="login-tiempo" tabindex="1" autofocus
               />
            </div>
  
  
            <div class="col-md-12 col-12 mb-1">
              <label for="login-descripcion" class="form-label">Descripción</label>
              <textarea type="text" formControlName="descripcion" rows="3" class="form-control" placeholder="Ingrese Descripción"
                aria-describedby="login-descripcion" tabindex="1" autofocus
                ></textarea>
            </div>

            <div class="col-md-12 col-12 mb-1">
              <label for="login-codigo" class="form-label">Escribir codigo fuente</label>
              <ngx-codemirror #codeEditor aria-describedby="login-codigo" tabindex="1" autofocus
              formControlName="codigo"
              [options]="codeMirrorOptions"
              >
            </ngx-codemirror>
            </div>
  
  
          </div>
  
        </div>
  
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" tabindex="4" rippleEffect>Guardar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>Cerrar</button>
      </div>
    </form>
  </ng-template>

  <ng-template #ModalPlay let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Escaneando de Redes</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <!-- Invoice -->
      <div class="col-xl-12 col-md-12 col-12">
        <!-- Header Starts -->
        <div class="row">
  
          <div class="col-md-12">
            <div class="form-group">
              <label>Resultado</label>
              <div style="width:100%; height:400px; overflow: scroll;">
                <textarea id="xrs" style="font-size:11px; width: 100%; height: 400px;"
                  [ngModelOptions]="{standalone: true}" [(ngModel)]="xrs" value="{{xrs}}"></textarea>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" tabindex="4" (click)="ScanRed()" rippleEffect>Escanear</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>Cerrar</button>
    </div>
  
  </ng-template>