
@import '~xterm/css/xterm.css';


:host {
  display: block;
  height: 100%;
  width: 100%;
}

.terminal-wrapper {
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #1E1E1E;
  box-sizing: border-box;

  #terminal {
    height: 100%;
    width: 100%;

    .xterm {
      height: 100%;
      width: 100%;
      padding: 8px;

      .xterm-viewport {
        background-color: #1E1E1E !important;
        width: 100% !important;
      }

      .xterm-screen {
        width: 100% !important;
      }

      .xterm-rows {
        color: #E0E0E0;
        font-family: 'Courier New', monospace;
      }
    }
  }
}