<div class="content-wrapper container-xxl p-0" *blockUI="'section-block'">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>


        <!-- Invoice List -->
        <section class="invoice-list-wrapper">
            <div class="card">

                <div class="col-md-12" style="margin-top: 25px;">

                    <!-- Primer -->
                    <div class="row">


                        <div class="form-group col-md-12">
                            <label class="form-label" for="descripcion">Seleccionar Aplicación</label>
                            <ng-select [items]="lstAplicaciones" [(ngModel)]="aplicacion"
                                [ngModelOptions]="{standalone: true}" bindLabel="name"
                                (ngModelChange)="selModulo($event)" bindLabel="name" bindValue="id"
                                placeholder="Seleccione Aplicación"></ng-select>
                        </div>


                        <div class="form-group col-md-4">
                          <label class="form-label" for="descripcion">Nombre del Rol</label>
                          <input style="font-size:14px;" [(ngModel)]="xnombre"
                              [ngModelOptions]="{standalone: true}" type="text" placeholder="Ingrese Nombre del Rol"
                              class="form-control">
                      </div>

                      <div class="form-group col-md-8">
                          <label class="form-label" for="origen">Descripcion del Rol</label>
                          <input style="font-size:14px;" [(ngModel)]="xdescripcion"
                              [ngModelOptions]="{standalone: true}" type="text" placeholder="Breve descripcion del Rol"
                              class="form-control">
                      </div>



                        <div class="form-group col-md-4">
                            <label class="form-label" for="origen">Modulo</label>
                            <ng-select [items]="dataModulo" [name]="xmodulo" [addTag]="true" [(ngModel)]="xmodulo"
                                [ngModelOptions]="{standalone: true}" bindLabel="name" 
                                (ngModelChange)="selectEventModulo($event)"
                                (input)="onFocusedModulo($event)"
                                placeholder="Seleccione Modulo"></ng-select>
                        </div>

                        <div class="form-group col-md-5">
                            <label class="form-label" for="origen">Menu</label>
                            <ng-select [items]="datamenu" [addTag]="true" [(ngModel)]="menu"
                                [ngModelOptions]="{standalone: true}" (ngModelChange)="selectEventMenu($event)"
                                (input)='onFocusedMenu($event)'
                                bindLabel="name" placeholder="Seleccione Menu"></ng-select>
                        </div>

                        <div class="form-group col-md-3">
                          <br>

                          <div class="col-md-12" align="right">
                            <button type="button" class="btn btn-success" (click)="MdlAccion(mdlAcciones)">
                              <i class="fa fa-list" aria-hidden="true"></i>&nbsp;Listar
                            </button>
                            &nbsp;
                            <button type="button" class="btn btn-warning" (click)="Limpiar()">
                                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Limpiar
                            </button>
                        </div> 
  
                      </div>

                      

                    </div>

                    <!-- <div class="row">
                        <div class="col-md-12 col-12 mb-1">
                            <label for="login-codigo" class="form-label">Escribir codigo fuente</label>
                            <ngx-codemirror #codeEditor tabindex="1" autofocus
                            [options]="codeMirrorOptions"
                            >
                          </ngx-codemirror>
                          </div>
                    </div> -->

                    <br>
      

                    




                    <!-- TABLA -->
                    <div class="container" *ngIf="showDiv">
                        <ul ngbNav #navWithIcons="ngbNav" class="nav-tabs justify-content-left">
                            <li ngbNavItem>
                                <a ngbNavLink><span [data-feather]="'cast'"></span> Acciones</a>
                                <ng-template ngbNavContent>

                                    
                                </ng-template>
                            </li>
                            <li ngbNavItem>
                                <a ngbNavLink><span [data-feather]="'settings'"></span> Sub Menu</a>
                                <ng-template ngbNavContent>
                                  
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>


                        <div class="row">
                            <div class="col-md-12" align="right">
                                <button type="button" class="btn btn-success" (click)="procesar()">
                                  <i class="fa fa-plus" aria-hidden="true"></i> Agregar al rol
                                </button>
                               
                            </div> 
                        </div>
                        <br><br>

                    </div>
                    <!-- TABLA -->

                </div>

            </div>
        </section>

    </div>
</div>


<ng-template #mdlAcciones let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">{{ titleModal }}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form class="auth-login-form mt-2">
        <div class="modal-body" tabindex="0" ngbAutofocus>
            <!-- Invoice -->
            <div class="col-xl-12 col-md-12 col-12">
                <!-- Header Starts -->
               
                <div class="row">
                    <div class="col-md-12">

                        <ngx-datatable 
                        
                        
                        [rows]="rowDataAcc" [rowHeight]="58"
                            class="bootstrap core-bootstrap bordered-table" [limit]="10"
                            [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true">


                            <ngx-datatable-column name="Nombre de la accion" prop="accnomb">
                                <ng-template let-accnomb="value" ngx-datatable-cell-template>
                                    <div>
                                        <span class="font-weight-bold">{{ accnomb }} </span>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>



                            <ngx-datatable-column name="Funcion" prop="func" >
                                <ng-template let-func="value" ngx-datatable-cell-template>
                                    <div>
                                        <span class="font-weight-bold">{{ func }}</span>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                      


                            <ngx-datatable-column name="Estatus">

                                <ng-template let-status="value" ngx-datatable-cell-template>
                                    <div class="badge badge-pill badge-light-primary">
                                        <div class="custom-control custom-control-success custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="colorCheck{{ id }}" checked />
                                            <label class="custom-control-label" for="colorCheck{{ id }}"></label>
                                          </div>
                                    </div>
                                  </ng-template>
                            </ngx-datatable-column>

                        


                        </ngx-datatable>
                    </div>

                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-success" tabindex="4" rippleEffect
                (click)="GuardarAccion()">{{titleBtnModal}}</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')"
                rippleEffect>Cerrar</button>
        </div>
    </form>

</ng-template>


<ng-template #ModalSubMenu let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">{{ titleModal }}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form class="auth-login-form mt-2">
        <div class="modal-body" tabindex="0" ngbAutofocus>
            <!-- Invoice -->
            <div class="col-xl-12 col-md-12 col-12">
                <!-- Header Starts -->
                <div class="row">


                    <div class="col-md-6 col-12 mb-1">
                        <label for="login-host" class="form-label">Nombre</label>
                        <input type="text" class="form-control" [(ngModel)]="IAddSubMenu.nomb"
                            [ngModelOptions]="{standalone: true}" placeholder="Nombre" aria-describedby="login-host"
                            tabindex="1" autofocus />
                    </div>

                    <div class="col-md-6 col-12 mb-1">
                        <label for="login-host" class="form-label">Dirección URL</label>
                        <input type="text" class="form-control" [(ngModel)]="IAddSubMenu.url"
                            [ngModelOptions]="{standalone: true}" placeholder="Dirección URL" aria-describedby="login-host"
                            tabindex="1" autofocus />
                    </div>

                    <div class="col-md-5 col-12 mb-1">
                        <label for="login-host" class="form-label">Codigo JavaScript</label>
                        <input type="text" [(ngModel)]="IAddSubMenu.js" [ngModelOptions]="{standalone: true}"
                            class="form-control" placeholder="Codigo JavaScript" aria-describedby="login-host" tabindex="1"
                            autofocus />
                    </div>

                    <div class="col-md-4 col-12 mb-1">
                        <label for="login-host" class="form-label">Clase Css</label>
                        <input type="text" [(ngModel)]="IAddSubMenu.clase" [ngModelOptions]="{standalone: true}"
                            class="form-control" placeholder="Clase Css" aria-describedby="login-host" tabindex="1"
                            autofocus />
                    </div>

                    <div class="col-md-3 col-12 mb-1">
                        <label for="login-tipo" class="form-label">Estatus</label>
                        <ng-select [items]="tipoMenu" bindLabel="descripcion" placeholder="Seleccione"
                            [(ngModel)]="IAddSubMenu.tipo" [ngModelOptions]="{standalone: true}" bindValue="id"
                            bindLabel="name">
                        </ng-select>
                    </div>


                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-success" tabindex="4" rippleEffect
                (click)="GuardarSubMenu()">{{titleBtnModal}}</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')"
                rippleEffect>Cerrar</button>
        </div>
    </form>

</ng-template>