<!-- Contenedor principal con posición fija -->
<div class="main-container">
  <!-- vertical-layout -->
  <ng-container *ngIf="coreConfig.layout.type === 'vertical' && showContent">
    <vertical-layout></vertical-layout>
  </ng-container>
  <!-- / vertical-layout -->

  <!-- horizontal-layout -->
  <ng-container *ngIf="coreConfig.layout.type === 'horizontal' && showContent">
    <horizontal-layout></horizontal-layout>
  </ng-container>
  <!-- / horizontal-layout -->

  <!-- theme customizer -->
  <core-sidebar
    name="themeCustomizer"
    class="customizer d-none d-md-block"
    [invisibleOverlay]="true"
    *ngIf="coreConfig.layout.customizer && showContent"
  >
    <a
      class="customizer-toggle d-flex align-items-center justify-content-center"
      (click)="toggleSidebar('themeCustomizer')"
    >
      <span [data-feather]="'settings'" [class]="'spinner'"></span>
    </a>
    <core-theme-customizer></core-theme-customizer>
  </core-sidebar>
  <app-license-bunker></app-license-bunker>
  <!-- / theme customizer -->

  <!-- Bloqueo de herramientas de desarrollo -->
  <div *ngIf="!showContent" class="blocked-screen">
    <div class="blocked-content">
      <img src="assets/images/logo/logo.png" alt="Acceso restringido" class="blocked-image">
      <h1>Acceso restringido</h1>
      <p>El uso de herramientas de desarrollo no está permitido en esta aplicación.</p>
    </div>
  </div>
  
</div>