<div class="content-wrapper container-xxl p-0" *blockUI="'section-block'">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- Invoice List -->
    <section class="invoice-list-wrapper">
      <div class="card">

        <!-- Invoice List Header -->
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <div class="d-flex align-items-center">
                <label class="d-flex align-items-center">Mostrar
                  <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </label>
                <button type="button" style="height: 38px; margin-top: -4px;" (click)="ModalAdd(ModalAddDevice)" title="Agregar" class="btn btn-icon btn-info" rippleEffect>
                  <span [data-feather]="'plus'"></span> Agregar</button>
                  &nbsp;
                  <button type="button" style="height: 38px; margin-top: -4px;" (click)="ModalAdd(ModalScanF)" title="Scaneo IP" class="btn btn-icon btn-warning" rippleEffect>
                    <span [data-feather]="'refresh-cw'"></span> Escaneo</button>
              </div>
            </div>
          </div>
          <div class="
              col-md-6 col-lg-4 col-12
              d-flex
              justify-content-start justify-content-md-end
              align-items-center
              offset-lg-2
            ">
            <div class="row pr-1 pb-1 pb-md-0 align-items-center w-100">
              <div class="col-10 col-md-6 pr-0">
                <label class="d-flex align-items-center mb-0 ml-1 ml-md-0"><input [(ngModel)]="searchValue"
                    name="searchValue" type="search" class="form-control" placeholder="Buscar..."
                    (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" /></label>
              </div>
              <div class="col-10 col-md-6 mt-2 ml-1 ml-md-0 mt-md-0">
                <fieldset class="form-group mb-0">
                  <ng-select [items]="dispositivos" [(ngModel)]="sDispositivo" bindLabel="descripcion"
                    placeholder="Seleccione Dispositivo" (change)="filterDispositivo($event)"></ng-select>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <!--/ Invoice List Header -->

        <ngx-datatable [rows]="rowData" [rowHeight]="58" class="bootstrap core-bootstrap" [limit]="10"
          [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
          [limit]="basicSelectedOption">

          <ngx-datatable-column name="HOST" prop="host" [width]="10">
            <ng-template let-host="value" ngx-datatable-cell-template>
              <div>
                <span class="font-weight-bold">{{ host }} </span>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="MAC" prop="mac" [width]="10">
            <ng-template let-mac="value" ngx-datatable-cell-template>
              <div>
                <span class="font-weight-bold">{{ mac }} </span>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="TIPO" prop="tipo" [width]="10">
            <ng-template let-tipo="value" ngx-datatable-cell-template>
              <div>
                <span class="font-weight-bold">{{ tipo }} </span>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="IDENTIFICADOR" prop="id" [width]="10">
            <ng-template let-id="value" ngx-datatable-cell-template>
              <div>
                <span class="font-weight-bold">{{ id.toUpperCase() }} </span>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="DESCRIPCIÓN" prop="descripcion" [width]="100">
            <ng-template let-descripcion="value" ngx-datatable-cell-template>
              <div>
                <span class="font-weight-bold">{{ descripcion.toUpperCase() }} </span>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Status" prop="estatus" [width]="10">
            <ng-template let-estatus="value" ngx-datatable-cell-template>

              <div class="badge badge-success" *ngIf="estatus === true">Activo</div>
              <div class="badge badge-danger" *ngIf="estatus === false">Inactivo</div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="ACCIÓN" [width]="5" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div ngbDropdown container="body">
                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                  <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                </button>
                <div ngbDropdownMenu>
                  <a (click)="ModalEdit(ModalEditDevice,row)" ngbDropdownItem><span [data-feather]="'edit'" [size]="16"
                      [class]="'mr-50'"></span> Editar</a>
                  <a (click)="ModalEscaneo(ModalEscaneoNmap,row)" ngbDropdownItem><span [data-feather]="'shuffle'"
                      [size]="16" [class]="'mr-50'"></span>Escaneo Nmap</a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

        <!--/ Invoice List Table -->

      </div>
    </section>
    <!--/ Invoice List -->

  </div>
</div>




<ng-template #ModalAddDevice let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Agregar Dispositivo</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="GuardarDispositivo()">
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <!-- Invoice -->
      <div class="col-xl-12 col-md-12 col-12">
        <!-- Header Starts -->


        <div class="row">


          <div class="col-md-4 col-12 mb-1">
            <label for="login-host" class="form-label">Dirección Host/IP</label>&nbsp;
            <div class="badge badge-info" (click)="ScanRedMac()">Escanear</div>
            <input type="text" formControlName="host" class="form-control" placeholder="Dirección Host/IP"
              aria-describedby="login-host" tabindex="1" autofocus
              [ngClass]="{ 'is-invalid': submitted && f.host.errors }" />
            <div *ngIf="submitted && f.host.errors" class="invalid-feedback">
              <div *ngIf="f.host.errors.required">Dirección Host/IP es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-mac" class="form-label">MAC Address</label>
            <input type="text" formControlName="mac" class="form-control" placeholder="MAC Address"
              aria-describedby="login-mac" tabindex="1" autofocus
              [ngClass]="{ 'is-invalid': submitted && f.mac.errors }" />
            <div *ngIf="submitted && f.mac.errors" class="invalid-feedback">
              <div *ngIf="f.mac.errors.required">MAC Address es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-descripcion" class="form-label">Descripción</label>
            <input type="text" formControlName="descripcion" class="form-control" placeholder="Descripción"
              aria-describedby="login-descripcion" tabindex="1" autofocus
              [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" />
            <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
              <div *ngIf="f.descripcion.errors.required">Descripción es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-id" class="form-label">Identificador</label>
            <input type="text" formControlName="id" class="form-control" placeholder="Identificador"
              aria-describedby="login-id" tabindex="1" autofocus
              [ngClass]="{ 'is-invalid': submitted && f.id.errors }" />
            <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
              <div *ngIf="f.id.errors.required">Identificador es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-tipo" class="form-label">Seleccione Dispositivo</label>
            <ng-select [items]="dispositivos" bindLabel="descripcion" formControlName="tipo"
              placeholder="Seleccione Dispositivo" bindValue="id">
            </ng-select>
            <!-- <div *ngIf="submitted && f.tipo.errors" class="invalid-feedback">
              <div *ngIf="f.tipo.errors.required">Tipo es requerido</div>
            </div> -->
          </div>


          <div class="col-md-4 col-12 mb-1">
            <label for="login-estatus" class="form-label">Seleccione Dispositivo</label>
            <ng-select [items]="status" formControlName="estatus" bindLabel="name" placeholder="Seleccione Dispositivo"
              bindValue="id">
            </ng-select>
            <!-- <div *ngIf="submitted && f.estatus.errors" class="invalid-feedback">
              <div *ngIf="f.estatus.errors.required">Estatus es requerido</div>
            </div> -->
          </div>



        </div>

      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-success" tabindex="4" rippleEffect>Guardar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>Cerrar</button>
    </div>
  </form>
</ng-template>


<ng-template #ModalEditDevice let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Editar Dispositivo</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="EditarDispositivo()">
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <!-- Invoice -->
      <div class="col-xl-12 col-md-12 col-12">
        <!-- Header Starts -->
        <div class="row">

          <div class="col-md-4 col-12 mb-1">
            <label for="login-host" class="form-label">Dirección Host/IP</label>
            <input type="text" formControlName="host" class="form-control" placeholder="Dirección Host/IP"
              aria-describedby="login-host" tabindex="1" autofocus
              [ngClass]="{ 'is-invalid': submitted && f.host.errors }" />
            <div *ngIf="submitted && f.host.errors" class="invalid-feedback">
              <div *ngIf="f.host.errors.required">Dirección Host/IP es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-mac" class="form-label">MAC Address</label>
            <input type="text" formControlName="mac" class="form-control" placeholder="MAC Address"
              aria-describedby="login-mac" tabindex="1" autofocus
              [ngClass]="{ 'is-invalid': submitted && f.mac.errors }" />
            <div *ngIf="submitted && f.mac.errors" class="invalid-feedback">
              <div *ngIf="f.mac.errors.required">MAC Address es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-descripcion" class="form-label">Descripción</label>
            <input type="text" formControlName="descripcion" class="form-control" placeholder="Descripción"
              aria-describedby="login-descripcion" tabindex="1" autofocus
              [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" />
            <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
              <div *ngIf="f.descripcion.errors.required">Descripción es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-id" class="form-label">Identificador</label>
            <input type="text" [readOnly]="true" formControlName="id" class="form-control" placeholder="Identificador"
              aria-describedby="login-id" tabindex="1" autofocus
              [ngClass]="{ 'is-invalid': submitted && f.id.errors }" />
            <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
              <div *ngIf="f.id.errors.required">Identificador es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-tipo" class="form-label">Seleccione Dispositivo</label>
            <ng-select [items]="dispositivos" bindLabel="descripcion" formControlName="tipo"
              placeholder="Seleccione Dispositivo" bindValue="id">
            </ng-select>
            <!-- <div *ngIf="submitted && f.tipo.errors" class="invalid-feedback">
              <div *ngIf="f.tipo.errors.required">Tipo es requerido</div>
            </div> -->
          </div>


          <div class="col-md-4 col-12 mb-1">
            <label for="login-estatus" class="form-label">Seleccione Estatus</label>
            <ng-select [items]="status" formControlName="estatus" bindLabel="name" placeholder="Seleccione Estatus"
              bindValue="id">
            </ng-select>
            <!-- <div *ngIf="submitted && f.estatus.errors" class="invalid-feedback">
              <div *ngIf="f.estatus.errors.required">Estatus es requerido</div>
            </div> -->
          </div>



        </div>

      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-success" tabindex="4" rippleEffect>Actualizar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>Cerrar</button>
    </div>
  </form>

</ng-template>

<ng-template #ModalEscaneoNmap let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Escaneando: <strong>{{titleModal}}</strong></h5>
    <button type="button" class="close" *ngIf="btnShow" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <!-- Invoice -->
    <div class="col-xl-12 col-md-12 col-12">
      <!-- Header Starts -->
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <label>Resultado</label>
            <div style="width:100%; height:400px; overflow: scroll;">
              <textarea id="xrs" [disabled]="true" style="font-size:11px; width: 100%; height: 400px;"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="xrs" value="{{xrs}}"></textarea>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-success" tabindex="4" (click)="Nmap()" *ngIf="btnShow" rippleEffect>Escanear</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" *ngIf="btnShow" rippleEffect>Cerrar</button>
  </div>

</ng-template>


<ng-template #ModalScanF let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Escaneando de Redes</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <!-- Invoice -->
    <div class="col-xl-12 col-md-12 col-12">
      <!-- Header Starts -->
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <label>Resultado</label>
            <div style="width:100%; height:400px; overflow: scroll;">
              <textarea id="xrs" style="font-size:11px; width: 100%; height: 400px;"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="xrs" value="{{xrs}}"></textarea>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-success" tabindex="4" (click)="ScanRed()" rippleEffect>Escanear</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>Cerrar</button>
  </div>

</ng-template>