<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- content-header component -->
      <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Kitchen Sink Datatables -->
    <section id="ngx-datatable-kitchen-sink">
          <div class="row">
            <div class="col-12 mb-50">
              <button (click)="ModalAdd(ModalAddDevice)" class="btn btn-primary ml-1" rippleEffect>
                <i data-feather="plus" class="mr-0 mr-sm-1"></i
                ><span class="d-none d-sm-inline-block">Agregar Dispositivo</span>
              </button>


            </div>
            <div class="col-md-3 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center"
                  >Mostrar
                  <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  registros</label
                >
              </div>
            </div>
            <div class="col-md-3 col-12 d-flex justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                <label class="d-flex align-items-center">
                  <ng-select
                        [items]="dispositivos"
                        placeholder="Seleccione Tipo Dispositivo"
                        bindLabel="descripcion"
                        name="id"
                        bindValue="id"
                        [(ngModel)]="sDispositivo"
                        [ngModelOptions]="{standalone: true}"
                        required
                        autocomplete="off"
                        (ngModelChange)="capturar($event)"
                        >
                      </ng-select>
                </label>
              </div>
            </div>

            <div class="col-md-6 col-12 d-flex justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                <label class="d-flex align-items-center"
                  >Buscar<input
                    type="search"
                    placeholder="Buscar..."
                    class="form-control ml-25"
                    (keyup)="filterUpdate($event)"
                    (search)="filterUpdate($event)"
                /></label>
              </div>
            </div>
          </div>
          <ngx-datatable
            [rows]="rowData"
            [rowHeight]="58"
            class="bootstrap core-bootstrap"
            [limit]="10"
            [columnMode]="ColumnMode.force"
            [headerHeight]="40"
            [footerHeight]="50"
            [scrollbarH]="true"
            [selectionType]="SelectionType.checkbox"
            [limit]="basicSelectedOption"
            (activate)="onActivate($event)"
            (select)="onSelect($event)"
          >
            <ngx-datatable-column
              [width]="50"
              [sortable]="false"
              [canAutoResize]="false"
              [draggable]="false"
              [resizeable]="false"
            >
              <ng-template
                ngx-datatable-header-template
                let-value="value"
                let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn"
              >
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [checked]="allRowsSelected"
                    (change)="selectFn(!allRowsSelected)"
                    id="headerChkbxRef"
                  />
                  <label class="custom-control-label" for="headerChkbxRef"></label>
                </div>
              </ng-template>
              <ng-template
                ngx-datatable-cell-template
                let-rowIndex="rowIndex"
                let-value="value"
                let-isSelected="isSelected"
                let-onCheckboxChangeFn="onCheckboxChangeFn"
              >
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [checked]="isSelected"
                    (change)="onCheckboxChangeFn($event)"
                    id="rowChkbxRef{{ rowIndex }}"
                  />
                  <label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="HOST" prop="host" [width]="10">
                <ng-template let-host="value" ngx-datatable-cell-template>
                  <div>
                    <span class="font-weight-bold">{{ host }} </span>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="MAC" prop="mac" [width]="10">
                <ng-template let-mac="value" ngx-datatable-cell-template>
                  <div>
                    <span class="font-weight-bold">{{ mac }} </span>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="TIPO" prop="tipo" [width]="10">
                <ng-template let-tipo="value" ngx-datatable-cell-template>
                  <div>
                    <span class="font-weight-bold">{{ tipo }} </span>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="IDENTIFICADOR" prop="id" [width]="10">
                <ng-template let-id="value" ngx-datatable-cell-template>
                  <div>
                    <span class="font-weight-bold">{{ id.toUpperCase() }} </span>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="DESCRIPCIÓN" prop="descripcion" [width]="10">
                <ng-template let-descripcion="value" ngx-datatable-cell-template>
                  <div>
                    <span class="font-weight-bold">{{ descripcion.toUpperCase() }} </span>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="ACCIÓN" [width]="20" [sortable]="false">
                <ng-template  ngx-datatable-cell-template let-row="row">
                  <div ngbDropdown container="body">
                    <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                      <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                    </button>
                    <div ngbDropdownMenu>
                        <a (click)="ModalEdit(ModalEditDevice,row)" ngbDropdownItem><span
                          [data-feather]="'eye'" [size]="16" [class]="'mr-50'"></span> Detalles</a>
                          <a (click)="DownloadFichaResumen(row)" ngbDropdownItem><span
                            [data-feather]="'download'" [size]="16" [class]="'mr-50'"></span> Descargar Ficha</a>
                  </div>
                  </div>  
                    </ng-template>
                  </ngx-datatable-column>
                  
          </ngx-datatable>
      </section>
      <!--/ Kitchen Sink Datatables -->
  

    </div>
</div>




<ng-template #ModalAddDevice let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Agregar Dispositivo</h5>
  </div>
  <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="submit()">
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <!-- Invoice -->
    <div class="col-xl-12 col-md-12 col-12">
      <!-- Header Starts -->
      <div class="row">

        <div class="col-md-4 col-12 mb-1">
            <label for="login-host" class="form-label">Dirección Host/IP</label>
            <input
              type="text"
              formControlName="host"
              class="form-control"
              placeholder="Dirección Host/IP"
              aria-describedby="login-host"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.host.errors }"
            />
            <div *ngIf="submitted && f.host.errors" class="invalid-feedback">
              <div *ngIf="f.host.errors.required">Dirección Host/IP es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-mac" class="form-label">MAC Address</label>
            <input
              type="text"
              formControlName="mac"
              class="form-control"
              placeholder="MAC Address"
              aria-describedby="login-mac"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.mac.errors }"
            />
            <div *ngIf="submitted && f.mac.errors" class="invalid-feedback">
              <div *ngIf="f.mac.errors.required">MAC Address es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-descripcion" class="form-label">Descripción</label>
            <input
              type="text"
              formControlName="descripcion"
              class="form-control"
              placeholder="Descripción"
              aria-describedby="login-descripcion"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }"
            />
            <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
              <div *ngIf="f.descripcion.errors.required">Descripción es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-id" class="form-label">Identificador</label>
            <input
              type="text"
              formControlName="id"
              class="form-control"
              placeholder="Identificador"
              aria-describedby="login-id"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.id.errors }"
            />
            <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
              <div *ngIf="f.id.errors.required">Identificador es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-tipo" class="form-label">Seleccione Dispositivo</label>
            <ng-select [items]="dispositivos" 
           bindLabel="descripcion"
           formControlName="tipo"
           placeholder="Seleccione Dispositivo"
           bindValue="id" >
            </ng-select>
            <!-- <div *ngIf="submitted && f.tipo.errors" class="invalid-feedback">
              <div *ngIf="f.tipo.errors.required">Tipo es requerido</div>
            </div> -->
          </div>


          <div class="col-md-4 col-12 mb-1">
            <label for="login-estatus" class="form-label">Seleccione Dispositivo</label>
            <ng-select [items]="status" formControlName="estatus"
           bindLabel="name" 
           placeholder="Seleccione Dispositivo"
           bindValue="id">
            </ng-select>
            <!-- <div *ngIf="submitted && f.estatus.errors" class="invalid-feedback">
              <div *ngIf="f.estatus.errors.required">Estatus es requerido</div>
            </div> -->
          </div>
          

        
      </div>
      
    </div>
  
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" tabindex="4" rippleEffect>Guardar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>Cerrar</button>
  </div>
</form>
</ng-template>


<ng-template #ModalEditDevice let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Editar Dispositivo</h5>
  </div>
  <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="submit()">
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <!-- Invoice -->
    <div class="col-xl-12 col-md-12 col-12">
      <!-- Header Starts -->
      <div class="row">

        <div class="col-md-4 col-12 mb-1">
            <label for="login-host" class="form-label">Dirección Host/IP</label>
            <input
              type="text"
              formControlName="host"
              class="form-control"
              placeholder="Dirección Host/IP"
              aria-describedby="login-host"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.host.errors }"
            />
            <div *ngIf="submitted && f.host.errors" class="invalid-feedback">
              <div *ngIf="f.host.errors.required">Dirección Host/IP es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-mac" class="form-label">MAC Address</label>
            <input
              type="text"
              formControlName="mac"
              class="form-control"
              placeholder="MAC Address"
              aria-describedby="login-mac"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.mac.errors }"
            />
            <div *ngIf="submitted && f.mac.errors" class="invalid-feedback">
              <div *ngIf="f.mac.errors.required">MAC Address es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-descripcion" class="form-label">Descripción</label>
            <input
              type="text"
              formControlName="descripcion"
              class="form-control"
              placeholder="Descripción"
              aria-describedby="login-descripcion"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }"
            />
            <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
              <div *ngIf="f.descripcion.errors.required">Descripción es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-id" class="form-label">Identificador</label>
            <input
              type="text"
              [readOnly]="true"
              formControlName="id"
              class="form-control"
              placeholder="Identificador"
              aria-describedby="login-id"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.id.errors }"
            />
            <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
              <div *ngIf="f.id.errors.required">Identificador es requerido</div>
            </div>
          </div>

          <div class="col-md-4 col-12 mb-1">
            <label for="login-tipo" class="form-label">Seleccione Dispositivo</label>
            <ng-select [items]="dispositivos" 
           bindLabel="descripcion"
           formControlName="tipo"
           placeholder="Seleccione Dispositivo"
           bindValue="id" >
            </ng-select>
            <!-- <div *ngIf="submitted && f.tipo.errors" class="invalid-feedback">
              <div *ngIf="f.tipo.errors.required">Tipo es requerido</div>
            </div> -->
          </div>


          <div class="col-md-4 col-12 mb-1">
            <label for="login-estatus" class="form-label">Seleccione Estatus</label>
            <ng-select [items]="status" formControlName="estatus"
           bindLabel="name" 
           placeholder="Seleccione Estatus"
           bindValue="id">
            </ng-select>
            <!-- <div *ngIf="submitted && f.estatus.errors" class="invalid-feedback">
              <div *ngIf="f.estatus.errors.required">Estatus es requerido</div>
            </div> -->
          </div>
          

        
      </div>
      
    </div>
  
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" tabindex="4" rippleEffect>Actualizar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>Cerrar</button>
  </div>
</form>

</ng-template>