<div class="content-wrapper container-xxl p-0" *blockUI="'section-block'">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>


    <!-- Invoice List -->
    <section class="invoice-list-wrapper">
      <div class="card">

        <div class="col-md-12" style="margin-top: 25px;">


          <div class="row">
            <div class="form-group col-md-3">
              <label class="form-label" for="descripcion">Tipo de acceso</label>
              <ng-select [items]="tipoacceso" [(ngModel)]="iUser.tipoacceso"  [ngModelOptions]="{standalone: true}"
                (ngModelChange)="selTipoAcceso($event)" bindLabel="name" bindValue="id"
                placeholder="Seleccione acceso"></ng-select>
            </div>
            <div class="form-group col-md-2" *ngIf="ldap">
              <label class="form-label" for="descripcion">Resaldo en cuenta</label>
              <ng-select [items]="respaldo" [(ngModel)]="iUser.respaldo" bindLabel="name" bindValue="id"
                placeholder="Respaldo en cuenta"></ng-select>
            </div>

            <div class="form-group col-md-4" *ngIf="ldap">
              <label class="form-label" for="descripcion">End Point</label>
              <input *ngIf="bEndPoint" [(ngModel)]="iUser.endpoint"  type="text" placeholder="End Point" class="form-control">
              <ng-select *ngIf="!bEndPoint"  [items]="lstEndPoint" [(ngModel)]="iUser.endpoint" [ngModelOptions]="{standalone: true}"
                bindLabel="name" bindLabel="name" bindValue="id" (ngModelChange)="selEndPoint($event)"
                placeholder="EndPoint"></ng-select>
            </div>

            <div class="form-group col-md-3" *ngIf="property || ldap">
              <label class="form-label" for="login">Login</label>
              <input [(ngModel)]="iUser.login"  type="text"  placeholder="Login" class="form-control">
            </div>

            <div class="form-group col-md-3" *ngIf="property">
              <label class="form-label" for="Clave">Clave</label>
              <input [(ngModel)]="iUser.clave"  type="password"  placeholder="Clave" class="form-control">
            </div>
            <div class="form-group col-md-3" *ngIf="property">
              <label class="form-label" for="encriptamiento">Encriptamiento</label>
              <ng-select [items]="formato" [(ngModel)]="iUser.encriptamiento" bindLabel="name" bindValue="id"
                placeholder="Encriptamiento"></ng-select>
            </div>
     
           
          </div>

          <div class="row">
            <div class="form-group col-md-2">
              <label class="form-label" for="descripcion">Cédula</label>
              <input [(ngModel)]="iUser.cedula" [ngModelOptions]="{standalone: true}" type="text"
                placeholder="Cédula" class="form-control">
            </div>
            <div class="form-group col-md-4">
              <label class="form-label" for="descripcion">Nombre de usuario</label>
              <input [(ngModel)]="iUser.nombre" [ngModelOptions]="{standalone: true}" type="text"
                placeholder="Nombre del usuario" class="form-control">
            </div>
            <div class="form-group col-md-4">
              <label class="form-label" for="descripcion">Descripcion / Cargo</label>
              <input [(ngModel)]="iUser.descripcion" [ngModelOptions]="{standalone: true}" type="text"
                placeholder="Descripcion del usuario" class="form-control">
            </div>

            <div class="form-group col-md-2">
              <label class="form-label" for="estatus">Estatus</label>
              <ng-select [items]="estatus" [(ngModel)]="iUser.estatus" bindLabel="name" bindValue="id" placeholder="Estatus"></ng-select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-2">
              <label class="form-label" for="tipoduracion">Vigencia de:</label>
              <ng-select [items]="sesion" [(ngModel)]="iUser.vigencia" bindLabel="name" bindValue="id"
                placeholder="Vigencia en"></ng-select>
            </div>

          
            <div class="form-group col-md-4">
              <label class="form-label" >Correo del usuario</label>
              <input [(ngModel)]="iUser.correo" [ngModelOptions]="{standalone: true}" type="text"
                placeholder="Correo del usuario" class="form-control">
            </div>
            <div class="form-group col-md-6">
              <label class="form-label" >Descripcion general</label>
              <input [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}" type="text"
                placeholder="Descripcion general" class="form-control">
            </div>
          </div>

          <!-- Primer -->
          <div class="row">

            <div class="form-group col-md-2">
              <label class="form-label" for="tipoduracion">Duración de sesión</label>
              <ng-select [items]="duracion" [(ngModel)]="iUser.duraciontexto" (ngModelChange)="selDuracion($event)" bindLabel="name" bindValue="id"
                placeholder="Tipo Duración"></ng-select>
            </div>

            <div class="form-group col-md-2">
              <label class="form-label" for="tiempoduracion">Tiempo sesión</label>
              <input type="number" [(ngModel)]="iUser.duraciontiempo" 
              [ngModelOptions]="{standalone: true}" placeholder="Tiempo" class="form-control">
            </div>
            
            <div class="form-group col-md-4">
              <label class="form-label" for="origen">Oficina</label>
              <ng-select [items]="dataOficina" [(ngModel)]="xoficina"
                [ngModelOptions]="{standalone: true}"  bindId="id" bindLabel="name" 
                (input)="onFocusedOficina($event)" placeholder="Oficina"></ng-select>
            </div>

            <div class="form-group col-md-4">
              <label class="form-label" for="origen">Regional</label>
              <ng-select [items]="dataRegional" [addTag]="true" [(ngModel)]="xregional" 
              [ngModelOptions]="{standalone: true}"
                (ngModelChange)="selectEventRegional($event)" (input)='onFocusedRegional($event)' bindLabel="name"
                placeholder="Regional"></ng-select>
            </div>

          

            <div class="form-group col-md-3">
              <label class="form-label" for="descripcion">Seleccionar Aplicación</label>
              <ng-select [items]="lstAplicacion" [(ngModel)]="xaplicacion" [ngModelOptions]="{standalone: true}"
                bindLabel="name" (ngModelChange)="selPerfil($event)" bindLabel="name" bindValue="id"
                placeholder="Aplicación"></ng-select>
            </div>

            <div class="form-group col-md-4">
              <label class="form-label" for="descripcion">Seleccionar Perfil</label>
              <ng-select [items]="lstPerfil" [(ngModel)]="xperfil" [ngModelOptions]="{standalone: true}"
                bindLabel="name"  bindLabel="name" bindValue="id"
                placeholder="Perfil"></ng-select>
            </div>

            <div class="form-group col-md-3">
              <label class="form-label" for="descripcion">Nivel de traza</label>
              <ng-select [items]="traza" [(ngModel)]="xtraza"  [ngModelOptions]="{standalone: true}"
               bindLabel="name" bindValue="id"  placeholder="Nivel de traza"></ng-select>
            </div>

            <div class="form-group col-md-2 d-flex align-items-end">

              <label class="form-label"></label>
              <button type="button" class="btn btn-primary" (click)="agregarAplicacion()" style="width: 100%;">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp;Asociar
              </button>
            </div>
           

          


          </div>
          <data class="row">

            <div class="col-md-12">
              <table class="table bootstrap core-bootstrap" >
                <thead>
                    <tr>
                        <th>APLICACION</th>
                        <th>PERFIL</th>
                        <th>TRAZA</th>
                        <th>ESTATUS</th>
                        <th>ACCION</th>
                    <tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of dataUsers; let i = index">
                        <td>{{e.aplicacion}}</td>
                        <td>{{e.perfil}}</td>
                        <td>{{e.traza}}</td>
                        <td *ngIf="e.estatus==0">
                          <div class="badge badge-danger" >Inactivo</div>
                        </td>
                        <td *ngIf="e.estatus==1">
                          <div class="badge badge-success">Activo</div>
                      </td>
                      <td *ngIf="e.id == null">
                        <button  (click)="quitarElemento(i)" type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                          <span [data-feather]="'trash'" [class]="'cursor-pointer'"></span>
                        </button>
                      </td>
                      <td *ngIf="e.id != null">
                        <div ngbDropdown container="body">
                          <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                            <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                          </button>
                          <div ngbDropdownMenu>
                            <a (click)="verPerfil(e.idapp)" ngbDropdownItem><span [data-feather]="'edit'" [size]="16"
                                [class]="'mr-50'"></span> Listar </a>
                            <a (click)="eliminarPerfil(e.idapp)" ngbDropdownItem><span [data-feather]="'shuffle'"
                                [size]="16" [class]="'mr-50'"></span>Eliminar</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
          </div>

          </data> 
          <br>
          <hr>
          <data class="row">
            <div class="form-group col-md-8"></div>
            <div class="form-group col-md-4">
              <br><br>
              

              <div class="col-md-12" align="right">
                <button type="button" [disabled]="dataUsers.length==0?'disabled':''" class="btn btn-success" (click)="agregarUsuario()">
                  Registrar
                </button>
                &nbsp;
                <!-- <button type="button" class="btn btn-warning" (click)="cancelar()">
                  Cancelar
                </button> -->
              </div>

            </div>

          </data>


          <br>







        </div>

      </div>
    </section>

  </div>
</div>

