@import '@core/scss/base/pages/app-ecommerce.scss';
@import '@core/scss/angular/libs/select.component.scss';



.tarjeta {
    width: 300px;
    /* Cambiar el valor según el tamaño deseado */
    height: 300px;
    /* Cambiar el valor según el tamaño deseado */
    margin: 5px;
    /* Puedes ajustar este valor según el espacio deseado */
    padding: 1px 0;
    /* Puedes ajustar este valor según el espacio vertical deseado */
}


.efecto-img {

    max-width: 100%;
    /* Adjust based on your design */
    text-align: center;
    margin: 0 auto;
    /* Center the container horizontally */
}

.efecto-img img {
    max-width: 100%;
    /* Image will not exceed container width */
    height: auto;
    /* Maintains aspect ratio */
}

.search-product {
    width: 100%; /* Ocupa el 100% del ancho disponible */
    max-width: 100%; /* Evita que se desborde */
  }



  /* Ajustar el contenedor del ng-select */
.ng-select {
    display: flex;
    align-items: center; /* Alinear verticalmente */
  }
  
  /* Ajustar el placeholder */
/* Ajustar el placeholder del ng-select */
.ng-placeholder {
    line-height: 40px; /* Asegura que el texto esté centrado verticalmente */
    padding-left: 12px; /* Asegura que el padding izquierdo sea el mismo que el input */
    color: #6c757d; /* Color del placeholder (gris) */
  }

  /* Estilo común para el input y el ng-select */
.input-style {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }