<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Register v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
          <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2>
        </a>

        <h2 class="mb-1 text-center"><strong>Sandra Server</strong></h2>
          <p class="card-text text-center"><small>Broglie {{version}} <br> {{fecha}}</small></p>

        <form class="auth-register-form mt-2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="register-email" class="form-label">Nombre de Usuario</label>
            <input
              type="text"
              formControlName="user"
              class="form-control"
              placeholder="Ingrese nombre de usuario"
              aria-describedby="register-email"
              tabindex="2"
              [ngClass]="{ 'is-invalid': submitted && f.user.errors }"
            />
            <div *ngIf="submitted && f.user.errors" class="invalid-feedback">
              <div *ngIf="f.user.errors.required">Usuario es requerido</div>
            </div>
          </div>

          <div class="form-group">
            <label for="register-password" class="form-label">Contraseña</label>

            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                formControlName="password"
                class="form-control form-control-merge"
                placeholder="············"
                aria-describedby="register-password"
                tabindex="3"
                [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.password.errors }"
            >
              <div *ngIf="f.password.errors.required">Contraseña es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="register-privacy-policy" tabindex="4" />
              <label class="custom-control-label" for="register-privacy-policy">
                Acepto la <a href="javascript:void(0);">Política de Privacidad y los Términos.</a>
              </label>
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="5" rippleEffect>Crear cuenta</button>
        </form>

        <div class="login">
          <h1 class="login__heading"></h1>
          <span class="login__circuit-mask"></span>
        </div>

        <p class="text-center mt-2">
          <span>Ya tienes una cuenta?  </span>
          <a routerLink="/">
            <span> Inicia sesión</span>
          </a>
        </p>


        <div class="divider my-2">
          <div class="divider-text">o</div>
        </div>

        <div class="auth-footer-btn d-flex justify-content-center">
          <a href="javascript:void(0)" class="btn btn-facebook">
            <i data-feather="facebook"></i>
          </a>
          <a href="javascript:void(0)" class="btn btn-twitter white">
            <i data-feather="twitter"></i>
          </a>
          <a href="javascript:void(0)" class="btn btn-google">
            <i data-feather="mail"></i>
          </a>
          <a href="javascript:void(0)" class="btn btn-github">
            <i data-feather="github"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- /Register v1 -->
  </div>
</div>
