<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Invoice List -->
        <section class="invoice-list-wrapper">
            <div class="card">
                <section class="horizontal-wizard">
                    <div id="stepper1" class="bs-stepper horizontal-wizard-example">
                        <div class="bs-stepper-header">
                            <div class="step" data-target="#account-details">
                                <button class="step-trigger">
                                    <span class="bs-stepper-box">1</span>
                                    <span class="bs-stepper-label">
                                        <span class="bs-stepper-title">Registrar</span>
                                        <span class="bs-stepper-subtitle">Aplicacion</span>
                                    </span>
                                </button>
                            </div>
                            <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
                            <div class="step" data-target="#personal-info">
                                <button class="step-trigger">
                                    <span class="bs-stepper-box">2</span>
                                    <span class="bs-stepper-label">
                                        <span class="bs-stepper-title">Conexiones</span>
                                        <span class="bs-stepper-subtitle">Información Base De Datos</span>
                                    </span>
                                </button>
                            </div>
                            <!-- <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
                            <div class="step" data-target="#social-links">
                                <button class="step-trigger">
                                    <span class="bs-stepper-box">3</span>
                                    <span class="bs-stepper-label">
                                        <span class="bs-stepper-title">Social Links</span>
                                        <span class="bs-stepper-subtitle">Add Social Links</span>
                                    </span>
                                </button>
                            </div> -->
                        </div>
                        <div class="bs-stepper-content">
                            <form (ngSubmit)="(HWForm.form.valid)" #HWForm="ngForm">
                                <div id="account-details" class="content">
                                    <form #accountDetailsForm="ngForm">
                                        <div class="content-header">
                                            <h5 class="mb-0">Registro Aplicacion.</h5>
                                            <small class="text-muted"></small>
                                        </div>
                                        <div class="row">

                                            <div class="form-group col-md-8" *ngIf="showAppA">
                                                <label class="form-label" for="apli">Aplicacion</label>
                                                <ng-select [items]="dataApp" #aplicacion="ngModel" [(ngModel)]="nameApp"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (ngModelChange)='selectEventModuloo($event)'
                                                    [class.error]="accountDetailsForm.submitted" bindLabel="name"
                                                    name="aplicacion" id="aplicacion" required placeholder="Seleccione"
                                                    bindValue="identificador">
                                                </ng-select>
                                                <span *ngIf="accountDetailsForm.submitted && aplicacion.invalid"
                                                    class="invalid-form">
                                                    <small class="form-text text-danger"
                                                        *ngIf="aplicacion.errors.required">Este campo es
                                                        requerido!</small>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-8" *ngIf="showAppB">
                                                <label class="form-label" for="aplicacion">Aplicacion</label>
                                                <input [(ngModel)]="iApp.nombre" #Apliref="ngModel"
                                                    [ngModelOptions]="{standalone: true}" required type="text"
                                                    name="aplicacion" id="aplicacion" class="form-control"
                                                    (blur)='selectEventModulo($event)'
                                                    [class.error]="!Apliref.valid && accountDetailsForm.submitted" />

                                                <span *ngIf="accountDetailsForm.submitted && Apliref.invalid"
                                                    class="invalid-form">
                                                    <small class="form-text text-danger"
                                                        *ngIf="Apliref.errors.required">Este campo es requerido!</small>
                                                </span>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label class="form-label" for="tipo">Tipo de instalación</label>
                                                <ng-select [items]="tipos" #Tipo="ngModel" [(ngModel)]="iApp.tipo"
                                                    [class.error]="accountDetailsForm.submitted"
                                                    (ngModelChange)="CapturarSeleccion($event)" bindLabel="descripcion"
                                                    name="tipo" id="tipo" required placeholder="Seleccione"
                                                    bindValue="id">
                                                    <!-- <ng-option *ngFor="let mdl of hosts" value="{{mdl.host}}" >{{ mdl.id }} | {{ mdl.descripcion }}</ng-option> -->
                                                </ng-select>
                                                <span *ngIf="accountDetailsForm.submitted && Tipo.invalid"
                                                    class="invalid-form">
                                                    <small class="form-text text-danger"
                                                        *ngIf="Tipo.errors.required">Este campo es requerido!</small>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="form-label" for="servidor">Servidor</label>
                                                <ng-select #Server="ngModel" [(ngModel)]="iApp.origen"
                                                    [class.error]="accountDetailsForm.submitted" bindLabel="descripcion"
                                                    name="servidor" id="servidor" required
                                                    placeholder="Seleccione Servidor" bindValue="id">
                                                    <ng-option *ngFor="let mdl of hosts" value="{{mdl.host}}">{{ mdl.id
                                                        }} | {{ mdl.descripcion }}</ng-option>
                                                </ng-select>
                                                <span *ngIf="accountDetailsForm.submitted && Server.invalid"
                                                    class="invalid-form">
                                                    <small class="form-text text-danger"
                                                        *ngIf="Server.errors.required">Este campo es requerido!</small>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="form-label" for="sistemas">Sistema Operativo</label>
                                                <ng-select [items]="sistemasOperativos" #System="ngModel"
                                                    [(ngModel)]="iApp.sistema"
                                                    [class.error]="accountDetailsForm.submitted" bindLabel="descripcion"
                                                    name="sistemas" id="sistemas" required
                                                    placeholder="Seleccione Servidor" bindValue="id">
                                                </ng-select>
                                                <span *ngIf="accountDetailsForm.submitted && System.invalid"
                                                    class="invalid-form">
                                                    <small class="form-text text-danger"
                                                        *ngIf="System.errors.required">Este campo es requerido!</small>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label class="form-label" for="repositorio">Repositorio Url</label>
                                                <input [(ngModel)]="iApp.repositorio" #Reporef="ngModel" required
                                                    type="text" name="repositorio" id="repositorio" class="form-control"
                                                    [class.error]="!Reporef.valid && accountDetailsForm.submitted" />

                                                <span *ngIf="accountDetailsForm.submitted && Reporef.invalid"
                                                    class="invalid-form">
                                                    <small class="form-text text-danger"
                                                        *ngIf="Reporef.errors.required">Este campo es requerido!</small>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="form-label" for="usuario">Usuario</label>
                                                <input [(ngModel)]="iApp.usuario" #Usuref="ngModel" required type="text"
                                                    name="usuario" id="usuario" class="form-control"
                                                    [class.error]="!Usuref.valid && accountDetailsForm.submitted" />

                                                <span *ngIf="accountDetailsForm.submitted && Usuref.invalid"
                                                    class="invalid-form">
                                                    <small class="form-text text-danger"
                                                        *ngIf="Usuref.errors.required">Este campo es requerido!</small>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="form-label" for="password">Password / Token</label>
                                                <input [(ngModel)]="iApp.clave" type="text"
                                                    [ngModelOptions]="{standalone: true}" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="form-label" for="montaje">Punto Montaje</label>
                                                <input [(ngModel)]="iApp.puntoMontaje"
                                                    [ngModelOptions]="{standalone: true}" type="text"
                                                    class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-5">
                                                <label class="form-label" for="bdatos">Base de Datos</label>
                                                <ng-select [items]="basesDatos" #Bdatos="ngModel"
                                                    [(ngModel)]="iApp.basedatos"
                                                    [class.error]="accountDetailsForm.submitted" bindLabel="descripcion"
                                                    name="bdatos" id="bdatos" required placeholder="Seleccione"
                                                    bindValue="id">
                                                </ng-select>
                                                <span *ngIf="accountDetailsForm.submitted && Bdatos.invalid"
                                                    class="invalid-form">
                                                    <small class="form-text text-danger"
                                                        *ngIf="Bdatos.errors.required">Este campo es requerido!</small>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="form-label" for="version">Versión</label>
                                                <input [(ngModel)]="iApp.version" [readOnly]="true" #Verref="ngModel"
                                                    required type="text" name="version" id="version"
                                                    class="form-control"
                                                    [class.error]="!Verref.valid && accountDetailsForm.submitted" />

                                                <span *ngIf="accountDetailsForm.submitted && Verref.invalid"
                                                    class="invalid-form">
                                                    <small class="form-text text-danger"
                                                        *ngIf="Verref.errors.required">Este campo es requerido!</small>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="form-label" for="lenguaje">Lenguaje</label>
                                                <ng-select [items]="lenguaje" #Lenref="ngModel"
                                                    [(ngModel)]="iApp.lenguaje"
                                                    [class.error]="accountDetailsForm.submitted" bindLabel="descripcion"
                                                    name="lenguaje" id="lenguaje" required placeholder="Seleccione"
                                                    bindValue="id">
                                                </ng-select>
                                                <span *ngIf="accountDetailsForm.submitted && Lenref.invalid"
                                                    class="invalid-form">
                                                    <small class="form-text text-danger"
                                                        *ngIf="Lenref.errors.required">Este campo es
                                                        requerido!</small>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-1" *ngIf="showInput">
                                                <label class="form-label" for="lenguaje">Archivo</label>
                                                <button class="btn btn-success" (click)="modalFile(ModalFiles)"><i
                                                        data-feather="paperclip" class="mr-0 mr-sm-0"></i></button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="descripcion">Descripción</label>
                                                <fieldset class="form-group">
                                                    <textarea [(ngModel)]="iApp.observacion" #Desref="ngModel" required
                                                        type="text" name="descripcion" id="descripcion"
                                                        class="form-control"
                                                        [class.error]="!Desref.valid && accountDetailsForm.submitted"></textarea>
                                                </fieldset>
                                                <span *ngIf="accountDetailsForm.submitted && Desref.invalid"
                                                    class="invalid-form">
                                                    <small class="form-text text-danger"
                                                        *ngIf="Desref.errors.required">Este campo es
                                                        requerido!</small>
                                                </span>
                                            </div>

                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <button (click)="horizontalWizardStepperPrevious()"
                                                class="btn btn-outline-secondary btn-prev" disabled rippleEffect>
                                                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                                <span class="align-middle d-sm-inline-block d-none">Atrás</span>
                                            </button>
                                            <button (click)="horizontalWizardStepperNext(accountDetailsForm)"
                                                type="submit" class="btn btn-primary btn-next" rippleEffect>
                                                <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                                                <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div id="personal-info" class="content">
                                    <form #personalInfoForm="ngForm">
                                        <div class="content-header">
                                            <h5 class="mb-0">Conexiones</h5>
                                        </div>

                                        <div class="row">

                                            <div class="form-group col-md-12">
                                                <label class="form-label" for="language">Driver</label>
                                                <ng-select [items]="ListaConexiones" [(ngModel)]="iApp.sistema"
                                                    bindLabel="name" name="driver" id="driver" required
                                                    placeholder="Seleccione Driver" bindValue="id">
                                                </ng-select>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label class="form-label" for="first-name">Archivo</label>
                                                <input type="file" [(ngModel)]="TDFirstNameVar" required
                                                    name="first-name" id="first-name" class="form-control"
                                                    placeholder="John" />
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="form-label" for="country">SQL</label>
                                                <textarea rows="7" class="form-control"></textarea>
                                            </div>

                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <button type="button" (click)="horizontalWizardStepperPrevious()"
                                                class="btn btn-primary btn-prev" rippleEffect>
                                                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                                <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                            </button>
                                            <button (click)="horizontalWizardStepperNext(personalInfoForm)"
                                                class="btn btn-primary btn-next" rippleEffect>
                                                <span class="align-middle d-sm-inline-block d-none">Next</span>
                                                <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>

                            </form>
                        </div>
                    </div>
                </section>


            </div>
        </section>
    </div>
</div>





<ng-template #ModalFiles let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">Subir Paquete</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="EditarDispositivo()">
        <div class="modal-body" tabindex="0" ngbAutofocus>
            <!-- Invoice -->
            <div class="col-xl-12 col-md-12 col-12">
                <!-- Header Starts -->
                <div class="row">

                    <h5>Los paquetes o programas que incluiran podran ser escritas en Golang, PHP, Python, Java,
                        JavaScript, HTML.</h5>
                    <br>
                    <form>
                        <input type="file" class="form-control" />
                    </form>
                    <br>
                    <h5>(.zip, .tar, .war) Limite del Archivo : 100.00 MB
                    </h5>

                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-success" tabindex="4" rippleEffect>Subir archivo</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')"
                rippleEffect>Cerrar</button>
        </div>
    </form>

</ng-template>