<div class="content-wrapper container-xxl p-0" *blockUI="'section-block'">
    <div class="content-body">
      <!-- content-header component -->
      <app-content-header [contentHeader]="contentHeader"></app-content-header>

      <section class="invoice-list-wrapper">
        <div class="card">
         
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                
                

              </div>
            </div>
          </div>

        </div>
      </section>

    </div>
</div>