<div class="customizer-content" [perfectScrollbar]>
  <!-- Customizer header -->
  <div class="customizer-header px-2 pt-1 pb-0 position-relative">
    <h4 class="mb-0">Monitoreo de Procesos</h4>
    <p class="m-0">Sandra Server</p>

    <a class="customizer-close" (click)="toggleSidebar('themeCustomizer')"><span [data-feather]="'x'"></span></a>
  </div>

  <hr />


  <ul ngbNav #navWithIcons="ngbNav" class="nav-tabs justify-content-center">
    <li ngbNavItem>
      <a ngbNavLink><span [data-feather]="'monitor'"></span></a>
      <ng-template ngbNavContent>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Programa</th>
              <th scope="col">Estatus</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!rowData || rowData.length === 0">
              <td colspan="4" class="text-center">No hay datos</td>
            </tr>
            <tr *ngFor="let row of rowData; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ row.programa }}</td>
              <td>
                <div *ngIf="!row.estatus" class="badge badge-glow badge-success">Completado</div>
                <div *ngIf="row.estatus" class="badge badge-glow badge-warning">En Proceso</div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink><span [data-feather]="'settings'"></span></a>
      <ng-template ngbNavContent>
        <p>
          Muffin cupcake candy chocolate cake gummi bears fruitcake donut dessert pie. Wafer toffee bonbon
          dragée. Jujubes cotton candy gummies chupa chups. Sweet fruitcake cheesecake biscuit cotton candy.
          Cookie powder marshmallow donut. Candy cookie sweet roll bear claw sweet roll. Cake tiramisu
          cotton candy gingerbread cheesecake toffee cake. Cookie liquorice dessert candy canes jelly. Sweet
          chocolate muffin fruitcake gummies jujubes pie lollipop. Brownie marshmallow caramels gingerbread
          jelly beans chocolate bar oat cake wafer. Chocolate bar danish icing sweet apple pie jelly-o
          carrot cake cookie cake.
        </p>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink><span [data-feather]="'award'"></span></a>
      <ng-template ngbNavContent>
        <p>
          Chocolate croissant cupcake croissant jelly donut. Cheesecake toffee apple pie chocolate bar
          biscuit tart croissant. Lemon drops danish cookie. Oat cake macaroon icing tart lollipop cookie
          sweet bear claw. Carrot cake dragée chocolate. Lemon drops ice cream wafer gummies dragée.
          Chocolate bar liquorice cheesecake cookie chupa chups marshmallow oat cake biscuit. Dessert toffee
          fruitcake ice cream powder tootsie roll cake.
        </p>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>
  


</div>
