<div class="content-wrapper container-xxl p-0" *blockUI="'section-block'">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- Invoice List -->
    <section class="invoice-list-wrapper">
      <div class="card">
        <div class="col-md-12" style="margin-top: 25px;">
          <div class="row justify-content-center"> <!-- Centramos la fila -->

            <div class="col-md-12 col-12"> <!-- Select ocupa 6 columnas -->
              <fieldset class="form-group mb-0">
                <ng-select [items]="lstLogs" bindLabel="name" bindId="id" bindValue="name" (change)="onLogTypeChange($event)"  placeholder="Seleccione Log"></ng-select>
              </fieldset>
            </div>
          </div>
        </div>
        <br>

        <div class="card">
          <div class="col-md-12" style="margin-top: 25px;">

                  <div class="log-viewer-container">
                    <!-- Log Sistema -->
                    <app-query-log *ngIf="selectedLogType === 3" 
                    [rawLogs]="queryLogs">
                  </app-query-log>
                  
                  <!-- Log Query -->
                  <app-system-log *ngIf="selectedLogType === 1" 
                  [rawLogs]="systemLogs">
                    </app-system-log>

                    <!-- Log Cache -->
                    <app-cache-log *ngIf="selectedLogType === 2" 
                  [rawLogs]="systemLogs">
                    </app-cache-log>
                    
                  </div>


          </div>
        </div>

      </div>
    </section>
  </div>
</div>